fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
pymysql
passlib[argon2]
pydantic[email]
python-jose[cryptography]
python-multipart
bcrypt
python-dateutil

langchain
langchain-community
langchain-groq
langchain-core
langchain-experimental